body
{
    /* color: red; */
    /* background-image: url('1.jpg'); */

}
h1
{
    font-size: 9px;
}
h2
{
    font-size: 12px;
}
h3
{
    font-size: 16px;
}
h4
{
    font-size: 20px;
}
h5
{
    font-size: 22px;
}
h6
{
    font-size: 28px;
}
